<div class="content-body">
    <div class="container-fluid">
      <div class="d-flex flex-wrap mb-4 align-items-center search-filter">
        <div class="me-auto mb-2 pe-2">
          <h6 class="text-black fs-16 font-w600 mb-1">Liste des candidats</h6>
          <span class="fs-14">Tous les candidats enregistrés sur la plateforme</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xl-12">
          <div class="table-responsive">
            <table class="table dataTable">
              <thead>
                <tr>
                  <th>Nom d'utilisateur</th>
                  <th>Email</th>
                  <th>Rôle</th>
                  <th class="text-center" style="width: 120px;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <span *ngFor="let role of user.roles; let last = last">
                      {{ role.name }}<span *ngIf="!last">, </span>
                    </span>
                  </td>
                  <td >
                    <div class="action-buttons">
                        <button (click)="editUser(user.id)" class="btn btn-edit" title="Modifier">
                          <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button  (click)="deleteUser(user.id)" class="btn btn-delete" title="Supprimer">
                          <i class="bi bi-trash-fill"></i>
                        </button>
                      </div>
                      
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="dataTables_info">
              Total : {{ users.length }} candidats
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  