<div class="content-body">
    <div class="container-fluid">
      <div class="d-flex flex-wrap mb-4 align-items-center search-filter">
        <div class="me-auto mb-2 pe-2">
            <h3>Liste des Offres d'emploi</h3>
            <button class="btn btn-ajout mb-3" (click)="ajouterOffre()">+ Ajouter une offre</button>
        
        </div>
      </div>
  
      <div class="row">
        <div class="col-xl-12">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark text-center">
                  <tr>
                    <th>Titre</th>
                    <th>Entreprise</th>
                    <th>Contrat</th>
                    <th>Ville</th>
                    <th>Salaire</th>
                    <th>Publiée le</th>
                    <th>Compétences</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="text-center align-middle">
                    <tr *ngFor="let offre of offresPaginees">
                        <td>{{ offre.titrePoste }}</td>
                        <td>{{ offre.nomEntreprise }}</td>
                        <td>{{ offre.typeContrat }}</td>
                        <td>{{ offre.ville }}</td>
                        <td>{{ offre.salaire }}</td>
                        <td>{{ offre.datePub }}</td>
                        <td>
                        <span>
                          {{ offre.competences.slice(0, 2).join(', ') }}
                          <span *ngIf="offre.competences.length > 2">... 
                            <a  (click)="afficherCompetences(offre.competences)">voir plus</a>
                          </span>
                        </span>
                      </td>
                      
                    <td>
                      <button class="btn btn-warning btn-sm me-2" (click)="modifierOffre(offre.id!)" style="background-color: #eeeeee; color: rgb(185, 24, 24); border: none;"><span style="color: rgb(205, 19, 19);"></span><i class="bi bi-pencil-fill"></i></button>
                      <button class="btn btn-danger btn-sm" (click)="supprimerOffre(offre.id!)" style="background-color: #eeeeee; color: rgb(185, 24, 24); border: none;"><span style="color: rgb(205, 19, 19);"></span><i class="bi bi-trash-fill"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <nav>
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="page === 1">
                    <button class="page-link" (click)="page = page - 1" [disabled]="page === 1">Précédent</button>
                  </li>
            
                  <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index" [class.active]="page === i + 1">
                    <button class="page-link" (click)="page = i + 1">{{ i + 1 }}</button>
                  </li>
            
                  <li class="page-item" [class.disabled]="page === totalPages">
                    <button class="page-link" (click)="page = page + 1" [disabled]="page === totalPages">Suivant</button>
                  </li>
                </ul>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  




