<app-navbar [navLight] = 'true' [navClass] = "'justify-end nav-light'" [bgLight] = 'false' [navFull] = 'false' />

<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-red-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Candidates</h3>
        </div><!--end grid-->
    </div><!--end container-->
    
    <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
        <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">
           <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white/50 hover:text-white"><a routerLink="/">Jobstack</a></li>
           <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white/50 hover:text-white"><a routerLink="/job-grid-one">Jobs</a></li>
            <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white" aria-current="page">Candidates</li>
        </ul>
    </div>
</section><!--end section-->
<div class="relative">
    <div class="shape absolute start-0 end-0 sm:-bottom-px -bottom-[2px] overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="relative md:py-24 py-16">
    <div class="container">
        <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[30px]">
            <div *ngFor="let item of candidate" class="group bg-white dark:bg-slate-900 relative overflow-hidden rounded-md shadow dark:shadow-gray-700 text-center p-6">
                <img [src]="item.image" class="size-20 rounded-full shadow dark:shadow-gray-700 mx-auto" alt="">
                
                <div class="mt-2">
                    <a [routerLink]="['/candidate-profile', item.id]" class="hover:text-red-600 font-semibold text-lg">{{item.name}}</a>
                    <p class="text-sm text-slate-400">{{item.position}}</p>
                </div>

                <ul class="mt-2 list-none">
                    <li *ngFor="let el of item.skill" class="inline"><span class="bg-red-600/10 inline-block text-red-600 text-xs px-2.5 py-0.5 mx-[2px] font-semibold rounded-full">{{el}}</span></li>
                </ul>

                <div class="flex justify-between mt-2">
                    <div class="block">
                        <span class="text-slate-400">Salery:</span>
                        <span class="block text-sm font-semibold">{{item.salery}}</span>
                    </div>
                    <div class="block">
                        <span class="text-slate-400">Experience:</span>
                        <span class="block text-sm font-semibold">{{item.experience}}</span>
                    </div>
                </div>

                <div class="mt-3">
                    <a [routerLink]="['/candidate-profile', item.id]" class="btn btn-sm bg-red-600 hover:bg-red-700 border-red-600 dark:border-red-600 text-white rounded-md">Profile</a>
                    <a href="#" (click)="$event.preventDefault()" class="btn btn-sm btn-icon bg-red-600/5 hover:bg-red-600 border-red-600/10 hover:border-red-600 text-red-600 hover:text-white rounded-full ms-1"><i class="uil uil-hipchat text-[20px]"></i></a>
                </div>

                <span *ngIf="item.base" class="w-24 bg-yellow-400 text-white text-center absolute ltr:-rotate-45 rtl:rotate-45 -start-[30px] top-1 "><i class="uil uil-star"></i></span>

                <span class="absolute top-[10px] end-4">
                    <a href="#" (click)="$event.preventDefault()" class="text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600 text-2xl"><i class="mdi mdi-heart"></i></a>
                </span>
            </div><!--end content-->
        </div><!--end grid-->

        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
            <div class="md:col-span-12 text-center">
                <nav aria-label="Page navigation example">
                    <ul class="inline-flex items-center -space-x-px">
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-red-600 dark:hover:border-red-600 hover:bg-red-600 dark:hover:bg-red-600">
                                <i class="uil uil-angle-left text-[20px] rtl:rotate-180 rtl:-mt-1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-red-600 dark:hover:border-red-600 hover:bg-red-600 dark:hover:bg-red-600">1</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-red-600 dark:hover:border-red-600 hover:bg-red-600 dark:hover:bg-red-600">2</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-red-600 border border-red-600">3</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-red-600 dark:hover:border-red-600 hover:bg-red-600 dark:hover:bg-red-600">4</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-red-600 dark:hover:border-red-600 hover:bg-red-600 dark:hover:bg-red-600">5</a>
                        </li>
                        <li>
                            <a href="#" (click)="$event.preventDefault()" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-3xl hover:text-white border border-gray-100 dark:border-gray-800 hover:border-red-600 dark:hover:border-red-600 hover:bg-red-600 dark:hover:bg-red-600">
                                <i class="uil uil-angle-right text-[20px] rtl:rotate-180 rtl:-mt-1"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container-fluid md:mt-24 mt-16">
        <app-explore-job/>
    </div><!--end container-->
</section>

<app-footer/>