<div class="authincation h-100" style="background-color: #f8f9fa;"> <!-- fond clair -->
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-6">
        <div class="authincation-content bg-white p-4 rounded shadow"> <!-- fond blanc pour la carte -->
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <div class="text-center mb-3">
                  <a routerLink="/">
                    <img src="assets/images/Tunisys.png" alt="Tunisys" width="160">
                  </a>
                </div>
                <h4 class="text-center mb-4 text-dark">Accéder au dashboard</h4>

                <form (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label class="mb-1 text-dark">
                      <strong>Nom d'utilisateur</strong>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="form.username"
                      name="username"
                      required
                    />
                  </div>

                  <div class="form-group position-relative">
                    <label class="mb-1 text-dark">
                      <strong>Mot de passe</strong>
                    </label>
                    <div class="position-relative">
                      <input
                        type="password"
                        class="form-control"
                        [(ngModel)]="form.password"
                        name="password"
                        [type]="hide_show ? 'text' : 'password'"
                        required
                      />
                      <span class="show-pass eye" (click)="passwordHide()" [ngClass]="{'active': hide_show}" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                        <i class="fa" [ngClass]="hide_show ? 'fa-eye' : 'fa-eye-slash'"></i>
                      </span>
                    </div>
                  </div>

                  <div *ngIf="isLoginFailed" class="text-danger text-center mt-2">
                    {{ errorMessage }}
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
