<div class="card">
  <div class="card-header border-0 pb-0 network-header">
    <h4 class="fs-20 text-black">Network</h4>
    <div class="dropdown float-end custom-dropdown mb-0">
      <div class="" data-bs-toggle="dropdown" role="button" aria-expanded="false">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#2E2E2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#2E2E2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#2E2E2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="javascript:void(0);">Details</a>
        <a class="dropdown-item text-danger" href="javascript:void(0);">Cancel</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-xxl-12 col-sm-6">
        <div class="d-flex align-items-center mb-4">
          <svg class="me-3 min-w30" width="30" height="30" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="31" height="31" rx="15.5" fill="#2BC155"></rect>
          </svg>
          <div>
            <p class="fs-14 font-w500 mb-1">Following</p>
            <span class="fs-20 text-black font-w600">567 Companies</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <svg class="me-3 min-w30" width="30" height="30" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="31" height="31" rx="15.5" fill="#FF9B52"></rect>
          </svg>
          <div>
            <p class="fs-14 font-w500 mb-1">Followers</p>
            <span class="fs-20 text-black font-w600">8,334 Person</span>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-xxl-12 col-sm-6">
        <div class="network-chart">
        <app-bar-chart-apex [chart_item]="radialBar" style="position: relative;"></app-bar-chart-apex>
        </div>
      </div>
    </div>
  </div>
</div>
