<div class="grid grid-cols-1 pb-8 text-center">
    <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Questions & Réponses</h3>

    <p class="text-slate-400 max-w-xl mx-auto">Découvrez nos solutions IT innovantes et sur mesure. <br> De l'infrastructure informatique à la cybersécurité, en passant par la monétique, Tunisys vous accompagne vers le succès depuis plus de 30 ans.</p>
</div><!--end grid-->

<div class="grid md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
    <div class="flex">
        <i data-feather="help-circle" class="h-8 text-red-600 me-3"></i>
        <div class="flex-1">
            <h5 class="mb-2 text-lg font-semibold">Comment <span class="text-red-600">Tunisys</span> soutient-il les entreprises ?</h5>
            <p class="text-slate-400">Chez Tunisys, nous fournissons des solutions IT innovantes adaptées aux besoins des entreprises, allant du développement de logiciels aux infrastructures cloud.</p>
        </div>
    </div>

    <div class="flex">
        <i data-feather="help-circle" class="h-8 text-red-600 me-3"></i>
        <div class="flex-1">
            <h5 class="mb-2 text-lg font-semibold"> Quel est le processus pour démarrer un projet avec <span class="text-red-600">Tunisys</span> ?</h5>
            <p class="text-slate-400">Nous suivons une approche structurée : consultation initiale, analyse des besoins, développement, test, déploiement et support continu.</p>
        </div>
    </div>

    <div class="flex">
        <i data-feather="help-circle" class="h-8 text-red-600 me-3"></i>
        <div class="flex-1">
            <h5 class="mb-2 text-lg font-semibold"> Comment <span class="text-red-600">Tunisys</span> assure-t-il la sécurité des données dans ses solutions ?</h5>
            <p class="text-slate-400">Nous mettons en œuvre des protocoles de sécurité avancés, du chiffrement et une conformité avec les normes internationales pour protéger les données des clients.</p>
        </div>
    </div>

    <div class="flex">
        <i data-feather="help-circle" class="h-8 text-red-600 me-3"></i>
        <div class="flex-1">
            <h5 class="mb-2 text-lg font-semibold">Pourquoi choisir <span class="text-red-600">Tunisys</span> pour les solutions IT ?</h5>
            <p class="text-slate-400">Avec des années d'expertise, une équipe qualifiée et une approche orientée client, nous offrons des solutions IT fiables, innovantes et évolutives.</p>
        </div>
    </div>
</div>
<!--end grid-->
