<nav id="topnav" class="defaultscroll is-sticky" [ngClass]="{'nav-sticky': scrolled, 'bg-white dark:bg-red-900': bgLight}">
    <div [ngClass]="navFull ? 'container-fluid container-fluid md:px-8 px-3' : 'container' ">
        <!-- Logo container-->
         <ng-container *ngIf="navLight; else elseTemplate">
            <a class="logo" routerLink="/">
                <div class="block sm:hidden">
                    <img src="assets/images/logo-icon-40.png" class="h-10 inline-block dark:hidden"  alt="">
                    <img src="assets/images/logo-icon-40-white.png" class="h-10 hidden dark:inline-block"  alt="">
                </div>
                <div class="sm:block hidden">
                    <span class="inline-block dark:hidden">
                        <img src="assets/images/logo-light.png" class="h-[46px] l-light" alt="">
                    </span>
                    <img src="assets/images/logo-white.png" class="h-[24px] hidden dark:inline-block" alt="">
                </div>
            </a>
         </ng-container>
         <ng-template #elseTemplate>
            <a class="logo" routerLink="/">
                <div class="block sm:hidden">
                    <img src="assets/images/logo-icon-40.png" class="h-10 inline-block dark:hidden"  alt="">
                    <img src="assets/images/logo-icon-40-white.png" class="h-10 hidden dark:inline-block"  alt="">
                </div>
                <div class="sm:block hidden">
                    <img src="assets/images/logo-white.png" class="h-[24px] hidden dark:inline-block" alt="">
                </div>
            </a>
         </ng-template>
         
        

        
        <!-- End Logo container-->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <a [routerLink]="[]" class="navbar-toggle" [ngClass]="showToggleMenu ? 'open' : '' " id="isToggle" (click)="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
           
        </ul>
        <!--Login button End-->

        <div id="navigation" [ngClass]="showToggleMenu ? 'block' : 'hidden' ">
           <!-- Navigation Menu-->
<ul class="navigation-menu" [ngClass]="navClass">
    <li class="has-submenu parent-menu-item">
        <a [routerLink]="['/']">Accueil</a>
    </li>  

    <li [ngClass]="currentUrl === '/aboutus' ? 'active' : ''">
        <a routerLink="/aboutus" class="sub-menu-item">À propos de nous</a>
    </li>

    <li [ngClass]="currentUrl === '/job-list-four' ? 'active' : ''">
        <a routerLink="/job-list-four" class="sub-menu-item">Offres d'emploi</a>
    </li>

    <li [ngClass]="currentUrl === '/contact' ? 'active' : ''">
        <a routerLink="/contact" class="sub-menu-item">Contact</a>
    </li>

   <!-- Si utilisateur non connecté -->
<li *ngIf="!isLoggedIn">
    <a routerLink="/login">Connexion</a>
  </li>
  
  <!-- Si connecté -->
 
  
  

  <li *ngIf="isLoggedIn && (roles.includes('ROLE_ADMIN') || roles.includes('ROLE_RH') || roles.includes('ROLE_MANAGER') || roles.includes('ROLE_EXPERT_TECHNIQUE'))" class="has-submenu">
    <a href="#">Bienvenue, {{ currentUser.username }} </a>
    <ul class="submenu flex flex-col items-center gap-2">
        <!-- Admin avec emoji -->
        <li *ngIf="roles.includes('ROLE_ADMIN')" class="text-red-600 font-medium flex items-center justify-center">
          👑 Admin
        </li>
      
        <!-- RH -->
        <li *ngIf="roles.includes('ROLE_RH')" class="text-indigo-600 font-medium flex items-center justify-center">
          👥 RH
        </li>
      
        <!-- Manager -->
        <li *ngIf="roles.includes('ROLE_MANAGER')" class="text-blue-600 font-medium flex items-center justify-center">
          📋 Manager
        </li>
      
        <!-- Expert Technique -->
        <li *ngIf="roles.includes('ROLE_EXPERT_TECHNIQUE')" class="text-yellow-600 font-medium flex items-center justify-center">
          🧠 Expert Technique
        </li>
      
        <!-- Déconnexion -->
        <li *ngIf="isLoggedIn" class="text-gray-700 font-medium flex items-center justify-center">
          <a href="#" (click)="logout()">Déconnexion</a>
        </li>
      </ul>
      

    
  </li>
  
      
</ul><!--end navigation menu-->

        </div><!--end navigation-->
    </div><!--end container-->
</nav>
