<section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.jpg')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
      <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
        <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md">
          <div class="p-6">
            <a routerLink="/">
              <img src="assets/images/logo-light.png" class="mx-auto h-[24px] dark:block hidden" alt="">
            </a>
            <h5 class="my-6 text-xl font-semibold">Signup</h5>
  
            <form class="text-start" (ngSubmit)="onSubmit()">
              <div class="grid grid-cols-1">
                <div class="mb-4 text-start">
                  <label class="font-semibold" for="RegisterName">Your Name:</label>
                  <input
                    id="RegisterName"
                    type="text"
                    class="form-input mt-3 rounded-md"
                    placeholder="Harry"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                  />
                </div>
  
                <div class="mb-4 text-start">
                  <label class="font-semibold" for="RegisterEmail">Email Address:</label>
                  <input
                    id="RegisterEmail"
                    type="email"
                    class="form-input mt-3 rounded-md"
                    placeholder="name@example.com"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                  />
                </div>
  
                <div class="mb-4 text-start">
                  <label class="font-semibold" for="RegisterPassword">Password:</label>
                  <input
                    id="RegisterPassword"
                    type="password"
                    class="form-input mt-3 rounded-md"
                    placeholder="Password:"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                  />
                </div>
  
                <div class="mb-4">
                  <div class="flex items-center mb-0">
                    <input
                      class="form-checkbox rounded border-gray-200 dark:border-gray-800 text-red-600 focus:border-red-300 focus:ring focus:ring-offset-0 focus:ring-red-200 focus:ring-opacity-50 me-2"
                      type="checkbox"
                      id="AcceptTerms"
                      [(ngModel)]="ConditionsAcceptees"
                      name="ConditionsAcceptees"
                    />
                    <label class="form-checkbox-label text-slate-400" for="AcceptTerms">
                      I Accept
                      <a href="#" (click)="$event.preventDefault()" class="text-red-600">Conditions </a>
                    </label>
                  </div>
                </div>
  
                <div class="mb-4">
                  <button type="submit" class="btn bg-red-600 hover:bg-red-700 border-red-600 hover:border-red-700 text-white rounded-md w-full">
                    Register
                  </button>
                </div>
  
                <div *ngIf="isSignUpFailed" class="text-red-600 text-center mb-2">
                  {{ errorMessage }}
                </div>
  
                <div class="text-center">
                  <span class="text-slate-400 me-2">Vous avez déjà un compte ?</span>
                  <a routerLink="/login" class="text-black dark:text-white font-bold">Sign in</a>
                </div>
              </div>
            </form>
          </div>
  
          <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
            <p class="mb-0 text-black font-medium">© {{ date }} <strong>PlateformRecrut</strong>. Design & Develop with 
              <i class="mdi mdi-heart text-red-600"></i> by 
              <a href="https://www.linkedin.com/company/tunisys" target="_blank" class="text-reset">Tunisys</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <app-back-to-home />
  