<div class="content-body">
    <div class="container-fluid">
      <div class="d-flex flex-wrap mb-4 align-items-center search-filter">
        <div class="me-auto mb-2 pe-2">
          <h6 class="text-black fs-16 font-w600 mb-1">Liste des rôles</h6>
          <span class="fs-14">Affichage des rôles disponibles dans le système</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xl-12">
          <div class="table-responsive">
            <table class="table dataTable display mb-4 dataTablesCard table-responsive-xl card-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nom du rôle</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roles">
                  <td>{{ role.id }}</td>
                  <td>{{ role.name }}</td>
                  <td class="text-center">
                    <div class="dropdown float-end custom-dropdown mb-0 c-pointer">
                      <div class="" data-bs-toggle="dropdown">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                            stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z"
                            stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z
  