<div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
    <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
        <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Browse by Categories</h3>
        <p class="text-slate-400 max-w-xl">Search your career opportunity with our categories</p>
    </div>

    <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
        <a href="#" (click)="$event.preventDefault()" class="btn btn-link text-slate-400 hover:text-red-600 after:bg-red-600 duration-500 ease-in-out">All Categories <i class="uil uil-arrow-right align-middle"></i></a>
    </div>
</div><!--end grid-->

<div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
    <div *ngFor="let item of categoryData" class="group p-4 rounded-md shadow dark:shadow-gray-700 bg-slate-50 dark:bg-slate-800 hover:bg-red-600 dark:hover:bg-red-600 transition-all duration-500">
        <h5 class="text-lg font-semibold group-hover:text-white">{{item.title}}</h5>
        <span class="block text-slate-400 group-hover:text-white/50 text-sm mt-1">{{item.job}}</span>

        <div class="mt-2">
            <a routerLink="/job-grid-one" class="text-red-600 dark:text-white/80 group-hover:text-white font-medium">Explore Jobs <i class="uil uil-arrow-right"></i></a>
        </div>
    </div><!--end content-->
</div><!--end grid-->

<div class="grid md:grid-cols-12 grid-cols-1 md:hidden mt-8">
    <div class="md:col-span-12 text-center">
        <a href="#" (click)="$event.preventDefault()" class="btn btn-link text-slate-400 hover:text-red-600 after:bg-red-600 duration-500 ease-in-out">All Categories <i class="uil uil-arrow-right align-middle"></i></a>
    </div>
</div><!--end grid-->
