<app-navbar [navLight] = 'true' [navClass] = "'justify-end nav-light'" [bgLight] = 'false' [navFull] = 'false' />

<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-red-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Offres d'emploi</h3>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
        <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">
           <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white/50 hover:text-white"><a routerLink="/">Tunisys</a></li>
            <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white" aria-current="page">Liste des Offres d'emploi</li>
        </ul>
    </div>
</section><!--end section-->
<div class="relative">
    <div class="shape absolute start-0 end-0 sm:-bottom-px -bottom-[2px] overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>


<section class="relative md:py-24 py-16">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-4 md:col-span-6">
                <app-job-sidebar (filtreChange)="onFiltreChange($event)" />
            </div><!--end col-->

            <div class="lg:col-span-8 md:col-span-6">
                <div class="grid grid-cols-1 gap-[30px]">
                    <div *ngFor="let item of paginatedJobs" class="group relative overflow-hidden bg-white shadow rounded-md transition-all duration-500 h-fit">
                        <div class="p-6">
                          <div class="flex items-center">
                            <div class="size-14 min-w-[56px] flex items-center justify-center bg-white shadow rounded-md">
                              <img [src]="item.image" class="size-8" (error)="item.image = 'assets/images/default.png'" alt="logo">
                            </div>
                            <div class="ms-3">
                              <a href="#" class="inline-block text-[16px] font-semibold hover:text-red-600 me-1">{{ item.titrePoste }}</a>
                              <span class="inline-block text-sm text-gray-500">{{ item.datePub }}</span>
                              <div>
                                <span class="bg-green-100 text-green-800 text-xs px-2.5 py-0.5 font-semibold rounded-full me-1">{{ item.typeContrat }}</span>
                                <span class="text-sm text-gray-600 me-1">Durée: {{ item.duree }} | </span>
                                <span class="text-sm text-gray-600 me-1">Taux horaire: {{ item.tauxHoraire }}</span>
                              </div>
                            </div>
                          </div>
                      
                          <p class="text-gray-600 py-3">{{ item.descriptionCourte }}</p>
                      
                          <div class="flex flex-wrap gap-1">
                            <span *ngFor="let el of item.competences" class="bg-gray-100 text-gray-800 text-xs px-2.5 py-0.5 rounded-full">{{ el }}</span>
                          </div>
                      
                          <div class="mt-2 flex items-center gap-2 text-sm text-gray-500">
                            <span class="flex items-center gap-1 text-sm text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c1.104 0 2-.896 2-2s-.896-2-2-2-2 .896-2 2 .896 2 2 2zM12 21s-6-5.686-6-10a6 6 0 0112 0c0 4.314-6 10-6 10z" />
                                </svg>
                                {{ item.pays }} |    {{ item.ville}}
                              </span>
                           </div>
                        </div>
                      
                        <div class="px-6 py-2 bg-gray-50 flex justify-end">
                            <a [routerLink]="['/job-apply']" [queryParams]="{ poste: item.titrePoste }" class="btn btn-sm bg-red-600 text-white hover:bg-red-700 rounded-md">Postuler</a>
                        </div>
                      </div>
                      
                      
                </div><!--end grid-->

                <!-- Pagination -->
                <nav class="flex justify-center mt-6">
                    <ul class="pagination flex gap-2">
                      <li>
                        <button class="px-3 py-1 border rounded" [disabled]="currentPage === 1"
                                (click)="changePage(currentPage - 1)">
                          Précédent
                        </button>
                      </li>
                  
                      <li *ngFor="let page of [].constructor(totalPages); let i = index">
                        <button class="px-3 py-1 border rounded"
                                [class.bg-red-600]="currentPage === i + 1"
                                [class.text-white]="currentPage === i + 1"
                                (click)="changePage(i + 1)">
                          {{ i + 1 }}
                        </button>
                      </li>
                  
                      <li>
                        <button class="px-3 py-1 border rounded" [disabled]="currentPage === totalPages"
                                (click)="changePage(currentPage + 1)">
                          Suivant
                        </button>
                      </li>
                    </ul>
                  </nav>
                  
              
            </div>
        </div>
    </div><!--end container-->

    <div class="container md:mt-24 mt-16">
        <app-services/>
    </div><!--end container-->

    <div class="container-fluid md:mt-24 mt-16">
       <app-explore-job/>
    </div><!--end container-->
</section>
<app-footer/>