<div class="relative grid md:grid-cols-3 grid-cols-1 items-center gap-[30px] z-1">
    <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white">
            <span class="counter-value" [countUp]="1000">1000</span>+
        </h1>
        <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">PROJETS LIVRÉS</h5>
    </div><!--end counter box-->
    
    <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white">
            <span class="counter-value" [countUp]="500">500</span>+
        </h1>
        <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">CLIENTS SATISFAITS</h5>
    </div><!--end counter box-->
    
    <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white">
            <span class="counter-value" [countUp]="30">30</span>+
        </h1>
        <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">ANNÉES D'EXPERTISE</h5>
    </div><!--end counter box-->
</div>
