<div class="content-body">
    <div class="container-fluid">
      <div class="d-flex flex-wrap mb-4 align-items-center search-filter">
        <div class="me-auto mb-2 pe-2">
          <h6 class="text-black fs-16 font-w600 mb-1">Liste des utilisateurs</h6>
          <span class="fs-14">Utilisateurs inscrits dans la plateforme</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xl-12">
          <div class="table-responsive">
            <table class="table dataTable display mb-4 dataTablesCard table-responsive-xl card-table">
              <thead>
                <tr>
                  <th>Nom d'utilisateur</th>
                  <th>Email</th>
                  <th>Rôle</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <span *ngFor="let role of user.roles; let last = last">
                      {{ role.name }}<span *ngIf="!last">, </span>
                    </span>
                  </td>
                  <td class="text-center">
                    <div class="dropdown float-end custom-dropdown mb-0 c-pointer">
                      <div class="" data-bs-toggle="dropdown">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                            stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z"
                            stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                          <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"
                            stroke="#2E2E2E" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        </svg>
                      </div>
                      <div class="dropdown-menu dropdown-menu-end px-2 py-2 shadow-sm rounded">
                        <!-- Icône Modifier -->
                        <button (click)="editUser(user.id)" class="btn btn-sm btn-light d-flex align-items-center mb-1" title="Modifier">
                          <i class="bi bi-pencil-fill text-primary"></i>
                        </button>
                      
                        <!-- Icône Supprimer -->
                        <button (click)="deleteUser(user.id)" class="btn btn-sm btn-light d-flex align-items-center" title="Supprimer">
                          <i class="bi bi-trash-fill text-primary"></i>
                        </button>
                      </div>
                      
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="dataTables_info" role="status" aria-live="polite">
              Total : {{ users.length }} utilisateurs
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  