.diagram-container {
height: 600px; 
border: 1px solid #ccc;
border-radius: 8px;
background-color: #f9f9f9;
}

.no-diagram-message {
height: 300px; 
display: flex;
align-items: center;
justify-content: center;
border: 1px dashed #ccc;
border-radius: 8px;
background-color: #fef6f0;
color: #dd6b20;
font-weight: 500;
font-size: 16px;
}

/* Agrandir le doughnut chart */
.chart-container {
width: 400px;   
height: 400px; 
margin: 20px auto;
}

#etatChart {
width: 100% ;
height: 100% ;
}
