.items-table{

	 tbody{
		
		tr{
			padding:0;
			border-radius: $radius;
			position: relative;
			box-shadow: 0 1px 0 0 #f8f8f8;
			@include transitionMedium;
			.dropdown{
				opacity:0;
			}
			&.active,
			&:hover{ 
				box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
				z-index: 1;
				.dropdown{
					opacity:1;
				}	
			}
			th,
			td{
				border: 0;
				padding:18px 8px;
			}
		}
	}
	@include respond('phone') {
		width:500px;
	}	
}

.star-review{
	i{
		font-size:16px;
		&.text-gray{
			color:#d9d9d9;
		}
	}
	span{
		color:$black;
	}
}


// Form Head
.form-head{

	.breadcrumb{
		background:transparent;
		padding:0;
	}
	.search-area{
		max-width:300px;
		border-radius: 0;
		@include respond('laptop') {
			max-width:250px;
		}
		@include respond('phone') {
			max-width:250px;
		}
		.form-control{
			border: 0;
			height: 56px;
			padding: 10px 15px;
			font-size: 16px;
			background:#f1f1f1;
			border-radius:0;
			@include respond('laptop') {
				height: 41px;
				padding: 10px 15px;
				font-size: 13px;
			}
		}
		.input-group-append .input-group-text{
			background:#f1f1f1;
			padding: 0 5px  0 30px;
			@include respond('laptop') {
				padding: 0 5px  0 30px;
			}
			i {
				font-size: 20px;
				color:$body-color;
				@include respond('laptop') {
					font-size: 18px;
				}
			}
		}
	}
	.dropdown {
		.btn{
			
			i{
				transform: scale(1.3);
				-moz-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				-ms-transform: scale(1.3);
				-o-transform: scale(1.3);
				display: inline-block;
			}
		}
		&:after{
			color:var(--primary);
			font-size:25px;
		}
	}
	/* .btn i{
		line-height: 1;
		transform: scale(1.3);
		display: inline-block;
		margin-#{$dz-pos-right}: 5px;
	} */
	/* .btn-outline-primary{
		border-color:#eee;
		&:hover{
			border-color:var(--primary);
		}
	} */
	& > *{
		@include respond('phone-land') {
			margin-#{$dz-pos-right}:5px !important;
			margin-bottom:10px;	
			vertical-align: baseline;
			margin-#{$dz-pos-left}:0 !important;
		}
	}
	@include respond('phone-land') {
		display:block !important;
	}
}

.btn-link{
    font-weight: 500;
    font-size: 16px;
	@include respond('laptop') {
		font-size: 14px;
	}
}
.deznav .copyright{
	font-size:14px;
	padding: 0 30px 40px;
	margin-top: 40px;
	color: #969BA0;
	margin-bottom: 40px;
	
	p{
		margin-bottom:10px;
	}
	strong{
		display:block;
	}
	
	@include respond('laptop') {
		padding:0 25px 60px;
	}
	@include respond ('phone-land'){
		padding-bottom: 60px;
	}
}
.widget-buyer {
    .media {
        img {
            width: 30px;
        }
        .media-body {
            h5 {
                font-size: 14px;
                margin-bottom: 0px;
            }
            p {
                font-size: 13px;
            }
        }
    }
}
.activity_overview{
	.nav-tabs{
		border-bottom:1px solid rgba(255,255,255,0.2) !important;
	}
	.custom-tab-1 .nav-link{
		color:rgba(255,255,255,0.5);
		padding-#{$dz-pos-left}: 0;
		padding-#{$dz-pos-right}: 0;
		margin-#{$dz-pos-right}: 30px;
		
		&:hover,
		&.active{
			background:transparent;
			color:#fff;
			border-color: #fff;
		}
	}
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: transparent!important;
    opacity: 0.9;
}

.chart-link {
    @include respond('phone') {
        display: flex;
        align-items: center;
    }
    @include respond('tab-land') {
        display: flex;
        align-items: center;
    }
    @include respond('desktop') {
        display: flex;
        align-items: center;
    }
    .week-link {
        display: inline-block;
        // @include respond('tab-land'){
        //     display: flex;
        // }
    }
    a {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        margin-#{$dz-pos-right}: 10px;
        i {
            font-size: 13px;
            &.text-primary {
                color: var(--primary);
            }
            &.text-muted {
                color: #DAE2F3!important;
            }
        }
    }
    .form-control {
        max-width: 97px;
        display: inline-block;
    }
}

.card-tabs {
    .nav-tabs {
		border-bottom: 0px;
		background: transparent;
		padding: 0;
		border-radius: 0;
		flex-wrap: unset;
			
        .nav-link {
            border-radius:0;
		    padding: 12px 20px;
			font-weight: 500;
			font-size:14px;
			border:1px solid $border-color;
			color:var(--primary);
            &.active {
                background: $light;
            }
			@include respond('laptop') {
				padding: 8px 15px;
				font-weight: 400;
				font-size: 13px;
			}
        }
		&.tabs-lg{
			.nav-link {
				padding:23px 30px;
				font-size:16px;
				@include respond('phone-land') {
					padding:10px 15px;
					font-size:14px;
				}	
			}
		}	
    }
	&.icontabs{
		.nav-tabs{
			background:transparent;
			.nav-item{
				.nav-link{
					height:42px;
					width:42px;
					line-height:42px;
					text-align:center;
					background:rgba($gray,0.6);
					color:$white;
					margin-#{$dz-pos-right}:15px;
					border-radius:	50px;
					padding:0;
					&.active{
						background:$warning;
					}
					i{
						font-size:25px;
						line-height:42px;
					}
				}
			}
		}
	}
}

.revenue-chart .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{
	display:flex !important;
	margin-#{$dz-pos-right}: 30px !important;
	margin-bottom: 30px !important;
}
.revenue-chart-bar{
	margin-bottom:-30px;
	
	@include respond('phone') {
		margin-bottom: 20px;
		float: none;
		padding-left: 20px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.revenue-chart-bar{
		margin-bottom: 20px;
		float: none;
		padding-#{$dz-pos-left}: 20px;
	}
}
#activeUser {
    height: 215px!important;
}
#activeUser {
    height: 180px!important;
}
span#counter {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}
.social-graph-wrapper {
    text-align: center;
    padding: 20px;
    position: relative;
    color: $white;
    border-top-#{$dz-pos-left}-radius: $radius;
    border-top-#{$dz-pos-right}-radius: $radius;
	
    &.widget-facebook {
        background-color: $facebook;
    }
    &.widget-twitter {
        background-color: $twitter;
    }
    &.widget-linkedin {
        background-color: $linkedin;
    }
    &.widget-googleplus {
        background-color: $google-plus;
    }
    .s-icon {
        font-size: 24px;
        position: relative;
        // top: 0.625rem;
        padding: 0 10px;
    }
}
.recent-stats i{
    font-size: 11px;
    position: relative;
    top: -1px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	#lineChart_3Kk{
		height: 140px !important;
	}
}
/* add menu sidebar */
.add-menu-sidebar{
	background: var(--primary); 
	padding: 40px 20px 20px;
    border-radius: 0;
	position:relative;
    margin: 50px 50px 30px;
	@include respond('laptop') {
		 margin: 50px 25px 30px;
	}
	@include respond('phone') {
		 margin: 20px 25px 30px;
	}
	
	p{
		font-size:16px;
		line-height:1.4;
		font-weight:300;
		color:#fff;
	}
	&:after{
		position:absolute;
		background-image:url('../images/dots.svg');
		background-repeat:no-repeat;
		bottom:10px;
		#{$dz-pos-right}:20px;
		content:"";
		height:30px;
		width:25px;
	}
}

.donut-chart-sale {
	position:relative;
	small {
		font-size: 16px;
		position: absolute;
		width: 100%;
		height: 100%;
		#{$dz-pos-left}: 0;
		display: flex;
		align-items: center;
		top: 0;
		justify-content: center;
		font-weight: 600;
	}
}
 .profile-bx{
	.profile-image{
		background-image:url('../images/circle.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		img{
			margin: 18px;
			width: 118px;
		}
	}
 }
 
 //search-area
 .search-area{
	width: 300px;
	margin-#{$dz-pos-right}: 30px;
	.form-control{
		background:var(--body-bg);
		border-width:0px;
		padding-#{$dz-pos-left}: 20px;
		min-height: 47px;
		border-radius:0;
		border-top-#{$dz-pos-left}-radius: 60px;
		border-bottom-#{$dz-pos-left}-radius: 60px;
		color: #000;
		&::placeholder{
			color:#757575;
		}
	}
	.input-group-text{
		background:var(--body-bg);
		border-width:0px;
		border-top-#{$dz-pos-right}-radius: 60px;
		border-bottom-#{$dz-pos-right}-radius: 60px;
		padding-#{$dz-pos-left}: 0;		
		padding-#{$dz-pos-right}: 20px;
		i{
			font-size:20px;
		}
		
	}
	@include respond('laptop'){
		.form-control{
			min-height:45px;
		}
		.input-group-text i{
			font-size:18px;
		}
	}
	@include respond('tab-port'){
		width:200px;
	}
 }
 
 //donut chart
 .donut-chart-sale{
	z-index: 1;
	.circle {
		height: 50px;
		width: 50px;
		z-index: -1;
		content: "";
		position: absolute;
		border-radius: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	small {
		font-size: 14px;
		position: absolute;
		width: 100%;
		height: 100%;
		#{$dz-pos-left}: 0;
		display: flex;
		align-items: center;
		top: 0;
		justify-content: center;
		font-weight: 600;
	}	
}
 
 .min-w24{
	min-width:24px;
 } .min-w30{
	min-width:30px;
 }
 .min-w32{
	min-width:32px;
 }
 .min-w42{
	min-width:42px;
 }
 .min-w46{
	min-width:46px;
 }
 .min-w50{
	min-width:50px;
 }
.line-chart-demo{

} 

.form-group.style-1{
	.form-control{
		border-color:transparent;
		margin-#{$dz-pos-right}: -45px;
		z-index: 0;
		color:$black;
		background:#F0F0F0;
		border-radius:$radius;
	}
}

.previous-transactions{
	tbody{
		tr{
			td:first-child{
				width:100px;
			}
		}
	}
}


//star rating
.rating-widget .rating-stars ul li i {
    font-size: 25px !important;
}


//border-card
.border-card{
	h2{
		font-size:54px;
		@include respond ('tab-land'){
			font-size:42px;
		}
		@include respond ('phone'){
			font-size:35px;
		}
	}
	.position{
		font-size:18px;
		@include respond ('tab-land'){
			font-size:14px;
		}
	}
	.cd-icon{
		height:70px;
		width:70px;
		line-height:70px;
		min-width:70px;
		text-align:center;
		border-radius:$radius;
		@include respond ('tab-land'){
			height: 50px;
			width: 50px;
			min-height:50px;
			line-height: 46px;
			min-width: 50px;
			svg{
				width: 25px;
				height:25px;
			}
		}
	}
	.line{
		height:4px;
		border-radius:$radius;
		width:95%;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}


.heart {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url('../images/like.png');
    cursor: pointer;
    margin: -25px -15px;
}
.heart-blast {
    background-position: -1680px 0;
    transition: background 1s steps(28);
}


.profile-bx{
	@include respond ('tab-land'){
		border-#{$dz-pos-right}:1px solid $border-color;
	}
	@include respond ('phone-land'){
		border-#{$dz-pos-right}: 0;
	}
}

.primary-icon{
	path{
		fill:var(--primary);
	}
}
.text-justify{
	text-align:justify;
}
.list-style{
	li{
		list-style-type:unset;
	}
}
.fst-italic{
	font-family:italic;
}
#stackedChart{
	.apexcharts-bar-series.apexcharts-plot-series  .apexcharts-series path {
	  clip-path: inset(0% 0% 0% 0% round 20px);
	}

}
.ps--active-y>.ps__rail-y{
	width:2px;
}
 .search-dropdown{
	.btn{
		&:hover{
			color:unset;
		}
	}
 }
 .default-select{
	&.style-1{
		.btn{
			border-color:var(--primary)!important;
		}
		i{
			color:var(--primary);
		}
	}
 }
 .around-map{
	iframe{
	    width: 100%;
		height: 250px;
		border-radius:$radius;
	}
 }
 .table-responsive .table.card-table tbody .odd td, .table-responsive .table.card-table tbody .even td{
	border-bottom:none;
 }
 .eye{
	&.style-1{
		top:52px;
		@include respond('tab-land'){
			top:56px;
		}
		@include respond('phone-land'){
			top:42px;	
		}
	}
	top: 45px;
	 position: absolute;
	#{$dz-pos-right}: 20px;
	
	@include respond ('laptop'){
		top:37px;
	}
	@include respond('tab-land'){
		top:37px;
	}
}
div:where(.swal2-container) div:where(.swal2-popup){
	background: var(--card) !important;
}
.alert-dismissible .btn-close {
	top: 10px;
    right: 3px;
    left: auto;
}
.clockpicker-popover{
	&.left{
		@include respond ('phone'){
			left: 14px !important;
			top: 1098.77px !important;
		}
	}
}
// ***************************
// -------bootstrap-page-----
// ***************************

 .element-area{
    display: flex;
   .demo-view{
        width: calc(100% - 270px);
		@include custommq($max:100rem){
			width: calc(100% - 236px);
		}	
        @include respond("tab-land"){
            width: calc(100% - 224px)
        }
        @include respond('tab-port'){
            width: 100%;
        }
        @include respond ('phone-land') {
			width: 100%;
			.container-sm{
				padding:0;
			}
		}   
		
    }
    .demo-right{
        width:16.875rem;
        position: sticky;
        top: 7rem;
        height: calc(100% - 140px);
        z-index: 2;
        @include respond("tab-land"){
            width: 15.875rem;
        }
        @include respond('tab-port'){
          display: none;
        }
        @include respond('phone-land') {
            display: none;    
        }
       
    }
    .demo-right.sticky{
        top: 100px;
        transition: 0.5s;
    }
}

.demo-right-inner {
    padding: 1rem 1.625rem;
    background-color: var(--card);
    border-radius: $radius;
    height: 100%;
    overflow: hidden;
    h4{
        padding: 0.625rem 0;
    }
    ul{
        padding-left: 15px;
    }
    li{
        font-size: 1rem;
        position: relative;
       
        a{
            padding: 3px 0;
            font-size: 14px;
            display: block;
        }
    }
}

.table{
	&.order-table{
		thead{
			th{
				&:first-child{
					border-top-left-radius:$radius;
				
				}
				&:last-child{
					border-top-right-radius:$radius;
					
				}
			}
		}
	}
}
.sweet-image{
	width:20%;
}
.clockpicker-popover{
	position:absolute;
    &.popover{
        border-color:transparent;
		z-index: 2;
    }
}

.navbar-nav .active .scroll{
	color:var(--primary);
}
.navbar-nav li.active:after {
    opacity: 1;
    background-color: var(--primary);
}
.demo-right-inner li:after {
    content: "";
    height: 5px;
    width: 5px;
    background-color: var(--text);
    border-radius: 50px;
    position: absolute;
    top: 11px;
    left: -15px;
    opacity: 0.1;
}
.dlab-calender{
	.picker-switch{
		font-size:0.9rem;
		font-weight:600;
		
	}
	.prev,
	.next{
		width:35px;
		height:35px;
		border-width:1px;
		border-color:var(--border);
		border-radius:100%;
		display:inline-block;
		text-align:center;
		line-height:21px;
	}
	.dow{
		margin-top:35px;
	}
	
}
.collapse{
	&.style-1{
		width:21.875rem;
		right:0;
		position:absolute;
		top:13.938rem;
		
	}
}
.radio,
.url,
.template{
	display:inline-block;
	width:18.75rem;
}
// .badge-danger{
    // background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    // background-size: 400%;
    // animation: changeGradientAnimation 8s linear infinite;
// }

.filter-option-inner-inner{
	img{
		width: 24px;
	}
}

	.text{
		width: 24px;
		img{
			width: 24px;
		}
	}
.noUi-connect {
    background-color: var(--primary);
}




