<form action="#">
    <div class="registration-form text-dark text-start">
        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
            <div class="filter-search-form relative filter-border">
                <i class="uil uil-briefcase-alt icons"></i>
                <input name="name" type="text" id="job-keyword" class="form-input ps-10 filter-input-box bg-gray-50 dark:bg-slate-800 border-0 ring-0" placeholder="Search your Keywords">
            </div>

            <div class="filter-search-form relative filter-border bg-gray-50 h-[60px] dark:bg-slate-800 border-0 focus:ring-0">
                <i class="uil uil-map-marker icons"></i>
                <select class="form-select ps-10 bg-gray-50 h-[60px] dark:bg-slate-800 border-0 focus:ring-0 w-full" data-trigger name="choices-location" id="choices-location" aria-label="Default select example">
                    <option value="AF">Afghanistan</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="GM">Gambia</option>
                </select>
            </div>
        
            <div class="filter-search-form relative filter-border bg-gray-50 h-[60px] dark:bg-slate-800 border-0 focus:ring-0">
                <i class="uil uil-briefcase-alt icons"></i>
                <select class="form-select ps-10 bg-gray-50 h-[60px] dark:bg-slate-800 border-0 focus:ring-0 w-full" data-trigger name="choices-type" id="choices-type" aria-label="Default select example">
                    <option selected="" value="1">Full Time</option>
                    <option value="2">Part Time</option>
                    <option value="3">Freelancer</option>
                    <option value="4">Remote Work</option>
                    <option value="5">Office Work</option>
                </select>
            </div>

            <input type="submit" id="search" name="search" style="height: 60px;" class="btn bg-red-600 hover:bg-red-700 border-red-600 hover:border-red-700 text-white searchbtn submit-btn w-100" value="Search">
        </div><!--end grid-->
    </div><!--end container-->
</form>
