<div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Find Best Companies</h3>

        <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
    </div><!--end grid-->

    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
        <div *ngFor="let item of jobData | slice:4:12" class="group relative p-6 rounded-md shadow dark:shadow-gray-700 mt-6">
            <div class="size-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-700 rounded-md relative -mt-12">
                <img [src]="item.image" class="size-8"  alt="">
            </div>

            <div class="mt-4">
                <a [routerLink]="[]" class="text-lg hover:text-red-600 font-semibold">{{item.companyName}}</a>
                <p class="text-slate-400 mt-2">{{item.desc2}}</p>
            </div>

            <div class="mt-4 pt-4 border-t border-gray-100 dark:border-gray-700 flex justify-between">
                <span class="text-slate-400"><i class="uil uil-map-marker"></i> {{item.loction}}</span>
                <span class="block font-semibold text-red-600">6 Jobs</span>
            </div>
        </div><!--end content-->
    </div><!--end grid-->

    <div class="grid md:grid-cols-12 grid-cols-1 mt-6">
        <div class="md:col-span-12 text-center">
            <a [routerLink]="[]" class="btn btn-link text-slate-400 hover:text-red-600 after:bg-red-600 duration-500 ease-in-out">See More Companies <i class="uil uil-arrow-right align-middle"></i></a>
        </div>
    </div><!--end grid-->
</div><!--end container-->
 