

<owl-carousel-o [options]="customOptions" style="direction: ltr;">
  @for(items of data; track items;){
        <ng-template carouselSlide>
          <div class="items">
            <div class="card">
              <div class="card-body">
                <!-- Titre & entreprise -->
                <div class="media pb-4 border-bottom mb-4 align-items-center">
                  <img [src]="items.image" (error)="onImageError($event)" class="me-3 width80" />
                  <div class="media-body">
                    <h4 class="fs-20">
                      <a class="text-black">{{ items.title }}</a>
                    </h4>
                    <div class="d-flex">
                      <p class="mb-0 me-auto">{{ items.company }}</p>
                      <a href="http://localhost:4300/rh/annonces" class="btn-link">+Info</a>
                    </div>
                  </div>
                </div>
    
                <!-- Salaire -->
                <div class="d-flex mb-2">
                  <span class="text-black me-auto font-w500">{{ items.salary }}</span>
                  <span>/monthly</span>
                </div>
    
                <!-- Localisation -->
                <div class="d-flex mb-2">
                  <span class="text-black me-auto font-w500">{{ items.location }}</span>
                  <span>View Maps</span>
                </div>
    
                <!-- Type de contrat -->
                <div class="d-flex mb-2">
                  <span class="text-black me-auto font-w500">{{ items.application_type }}</span>
                </div>
    
                <!-- Nombre de candidatures -->
                <div class="d-flex mb-2">
                  <span class="text-muted">{{ items.candidatureCount }} candidatures</span>
                </div>
    
              </div>
            </div>
          </div>
        </ng-template>
  }
</owl-carousel-o>    
